*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: rgb(187, 228, 233); 
}

/* Header section styling START */
header{
  height: 10vh;
  display: flex;
  justify-content: center;
}

.input-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3vh;
  margin-top: 25px;
  gap: 30px;
}

#submit-btn{
  cursor: pointer;
  border-radius: 12px;
  width: 150px;
  font-size: 1em;
  background: rgb(121, 194, 208); 
  border: none;
}

#submit-btn:hover{
  background: rgba(121, 194, 208, 0.8); 
}

#submit-btn:active{
  background: rgb(118, 186, 199); 
}

#input-field{
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  width: 500px;
  border-radius: 15px;
	background: rgb(255, 255, 255); 
  outline: none;
  border: none;
  font-size: 1em;
}

#input-field:focus{
  background-color: whitesmoke;
}

/* Header section styling END */
/* Main section styling START */
main{
  display: flex;
  justify-content: center;
  height: 85vh;
}

.main-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90%;
  width: 35%;
  background-color: red;
  border-radius: 15%;
  background: rgb(143, 185, 190);
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.card-header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20%;
  width: 100%;
  gap: 20px;
}
.card-content{
  height: 70%;
  width: 100%;
}
.fetch-info{
  height: 10%;
  width: 100%;
}

/* Main section styling END */
/* Footer section styling START */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  height: 5vh;
  background: rgb(143, 185, 190); 
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

#link-anchor{
  text-decoration: none !important; 
  color: whitesmoke;
}

/* Footer section styling END */
